.about-inner {
  flex-direction: column;
  justify-content: center;
  text-align: left;

  h1.tit {
    align-self: flex-end;
    transform: translateX(12vw);
    color: var(--primary);
    position: relative;

    .star-spin {
      position: absolute;
      left: -10rem;
      top: -10rem;

      i.star {
        color: var(--text);
      }
    }
  }

  .t-wrap {
    align-self: flex-start;
    margin-bottom: 3rem;

    .sub-tit {
      font-size: 7rem;
      font-weight: 800;
    }

    p.txt {
      position: static;
      text-align: left;
      right: auto;
      font-size: 1.8rem;
    }
  }

  .about-container {
    display: flex;
    gap: 2rem;
    width: 100%;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }

    >div {
      flex: 1;

      @media (max-width: 1200px) {
        min-width: 30rem;
      }

      h4.list-tit {
        font-size: 2rem;
        font-weight: 600;
        border-bottom: .1rem solid var(--underline);
        line-height: 2;
      }

      .lst {
        >li {
          line-height: 2;
          padding: .5rem 1rem 0;
          font-size: 1.4rem;

          >strong {
            display: inline-block;
            padding: 0 3rem 0 0;
          }

          &:nth-child(even) {
            background-color: var(--gray100);
          }

          &:hover {
            background-color: var(--primary);
            color: var(--neutral-900);
          }
        }
      }
    }
  }
}